.edit-gif-component {
    width: 75%;
    margin: 0 auto;
}

.edit-gif-component > .preview {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.edit-gif-component > .edit-gif-form {
    margin-left: auto;
    margin-right: auto;
}

.edit-gif-form > .form-control {
    margin-top: 5px;
}

.edit-gif-form > textarea {
    margin-bottom: 5px;
}

.edit-gif-form > button {
    width: 48%;
    display: inline-block;
}

.edit-gif-form > .left-button {
    margin-right: 5px;
}