.app {
  padding-top: 2%;
}

.app-section {
  display: inline-block;
  vertical-align: top;
}

.search-section {
  width: 19%;
  margin-left: 1%;
}

.foo {
  margin: 0 auto;
  background: blue;
  height: 200px;
  width: 80%;
}

.results-section {
  width: 60%;
}

.gif-management-section {
  width: 20%;
}