.app {
  padding-top: 2%;
}

.app-content {
  margin-top: 35px;
}

.app-section {
  display: inline-block;
  vertical-align: top;
}

.search-section {
  width: 19%;
  margin-left: 1%;
}

.results-section {
  width: 60%;
}

.gif-management-section {
  width: 20%;
}

.log-out-button {
  float: right;
  margin-right:  25px;
  -moz-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  -webkit-box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  box-shadow: inset 0px 1px 0px 0px #7a8eb9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000103), color-stop(1, #2f3f5e));
  background: -moz-linear-gradient(top, #000103 5%, #2f3f5e 100%);
  background: -webkit-linear-gradient(top, #000103 5%, #2f3f5e 100%);
  background: -o-linear-gradient(top, #000103 5%, #2f3f5e 100%);
  background: -ms-linear-gradient(top, #000103 5%, #2f3f5e 100%);
  background: linear-gradient(to bottom, #000103 5%, #2f3f5e 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000103', endColorstr='#2f3f5e',GradientType=0);
  background-color: #000103;
  border: 1px solid #314179;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  padding: 6px 12px;
  text-decoration: none;
}

.log-out-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2f3f5e), color-stop(1, #000103));
  background: -moz-linear-gradient(top, #2f3f5e 5%, #000103 100%);
  background: -webkit-linear-gradient(top, #2f3f5e 5%, #000103 100%);
  background: -o-linear-gradient(top, #2f3f5e 5%, #000103 100%);
  background: -ms-linear-gradient(top, #2f3f5e 5%, #000103 100%);
  background: linear-gradient(to bottom, #2f3f5e 5%, #000103 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2f3f5e', endColorstr='#000103',GradientType=0);
  background-color: #2f3f5e;
}

.log-out-button:active {
  position: relative;
  top: 1px;
}

.app-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #276873;
  -webkit-box-shadow: inset 0px 1px 0px 0px #276873;
  box-shadow: inset 0px 1px 0px 0px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b6064), color-stop(1, #55828b));
  background: -moz-linear-gradient(top, #3b6064 5%, #55828b 100%);
  background: -webkit-linear-gradient(top, #3b6064 5%, #55828b 100%);
  background: -o-linear-gradient(top, #3b6064 5%, #55828b 100%);
  background: -ms-linear-gradient(top, #3b6064 5%, #55828b 100%);
  background: linear-gradient(to bottom, #3b6064 5%, #55828b 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3b6064', endColorstr='#55828b',GradientType=0);
  background-color: #3b6064;
  border: 1px solid #364958;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 13px;
  padding: 4px 12px;
  text-decoration: none;
}
.app-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #55828b), color-stop(1, #3b6064));
  background: -moz-linear-gradient(top, #55828b 5%, #3b6064 100%);
  background: -webkit-linear-gradient(top, #55828b 5%, #3b6064 100%);
  background: -o-linear-gradient(top, #55828b 5%, #3b6064 100%);
  background: -ms-linear-gradient(top, #55828b 5%, #3b6064 100%);
  background: linear-gradient(to bottom, #55828b 5%, #3b6064 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#55828b', endColorstr='#3b6064',GradientType=0);
  background-color: #55828b;
}
.app-button:active {
  position: relative;
  top: 1px;
}

