.app {
  padding-top: 2%;
}

.app-content {
  margin-top: 35px;
}

.app-section {
  display: inline-block;
  vertical-align: top;
}

.search-section {
  width: 19%;
  margin-left: 1%;
}

.results-section {
  width: 60%;
}

.gif-management-section {
  width: 20%;
}

.log-out-button {
  float: right;
  margin-right:  25px;
}