.result {
    order: 1;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.result > .preview {
    display: block;
}

.result > .url {
    display: block;
}

.result > input {
    margin-top: 2px;
    width: 194px;
}

.result-focused {
    background: blue;
}