.result {
    order: 1;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.result > .preview {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.result-focused {
    border: 1px solid #364958;
    background: #87BBA2;

    /* Takes new border into account. */
    margin-right: 8px;
    margin-bottom: 8px;
}

.result > .preview {
    display: block;
}

.result > .url {
    display: block;
}

.result > input {
    margin-top: 2px;
    width: 194px;
}