.add-gif-component {
    width: 75%;
    margin: 0 auto;
}

.preview {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.add-gif-form {
    margin-left: auto;
    margin-right: auto;
}

.add-gif-form > input,
.add-gif-form > textarea {
    display: block;
    margin-bottom: 5px;
    width: 100%;
}

.add-gif-form > button {
    width: 50%;
}