.add-gif-component {
    width: 75%;
    margin: 0 auto;
}

.add-gif-component > .preview {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.add-gif-form > .form-control {
    margin-top: 5px;
}

.add-gif-form > textarea {
    margin-bottom: 5px;
}

.add-gif-form > button {
    width: 50%;
}