.search-component {
    width: 100%;
    margin: 0 auto;
}

.search-form > input {
    display: block;
    margin-bottom: 5px;
    width: 75%;
}

.tag-list {
    margin-top: 10px;
}

.tag-list-item {
    font-size: 14px;
    margin-bottom: 5px;
}